* در مواقعی که جداول MySQL را در حالت MyISAM قرار دهید، به خاطر عدم پشتیبانی از MVCC و پیچیدگی‌های آن، سرعت بالاتری نسبت در هنگام READ نسبت به Postgres دارد


### Create Or Update : 
```
INSERT INTO users (id, name, email)
VALUES (123, 'John Doe', 'john.doe@example.com')
ON DUPLICATE KEY UPDATE name = 'John Doe', email = 'john.doe@example.com';
```


### Drop duplicated : 
```
SELECT DISTINCT city
FROM Employee;
```

### Operator : AND, OR, In, Not In, BETWEEN, Null
```
SELECT COUNT(*) FROM `Invoice`
WHERE NOT (InvoiceDate > '2013-01-01' and InvoiceDate < '2013-12-30');

SELECT count(*) FROM `payment`
WHERE payment_date BETWEEN '2005-05-26' and '2005-05-27';

SELECT * FROM `address`
WHERE district in ("Texas","QLD");

```

### Like, REGEXP Operator:

 - % : any    character
 - _ : single character
  - 
```
SELECT * FROM `actor` WHERE last_name LIKE 'H____S';
SELECT * FROM `actor` WHERE last_name REGEXP 'pattern'
```

### OrderBy
```
SELECT * FROM `rental` ORDER BY inventory_id + customer_id ASC;
```

### Limit
```
SELECT * FROM `actor` LIMIT 4(from),5(count);
```



# Combine:
    - Combine Columns : Join
    - Combine Rows    : Union 

### Composite Primary key Join
```
SELECT * FROM rental r
JOIN payment p 
	ON p.payment_id = r.rental_id
    AND p.customer_id = r.inventory_id
```

### Implicit join, and the USING
```
SELECT c.customer_id, sum(p.amount) FROM payment p, customer c
WHERE p.customer_id = c.customer_id
GROUP BY c.customer_id;


SELECT p.payment_id, c.customer_id, p.amount 
FROM customer c
JOIN payment p 
USING (customer_id);


```

### OuterJoin: Left, Right ------- InnerJoin: join


### Unioin:
```
SELECT 
	r.rental_id,
    r.rental_date,
    'Active' as status
FROM rental r
WHERE r.rental_date >= '2005-06-01' and r.rental_date  < '2005-06-30'
UNION
SELECT 
	r.rental_id,
    r.rental_date,
    'Deactive' as status
FROM rental r
WHERE r.rental_date >= '2005-05-01' and r.rental_date  < '2005-05-30';
```


### Insert Single:
```
INSERT INTO actor 
VALUES (DEFAULT, 'masoud', 'nazarpoor', NOW())

INSERT INTO actor (first_name, last_name)
VALUES ('mostafa', 'nazarpoor')

```

### Insert multiple
```
INSERT INTO actor (first_name, last_name)
VALUES 
	('younes', 'nazarpoor'),
    ('mamad', 'nazarpoor')
    
```

### Insert Hierarchical
```
INSERT INTO country (country)
VALUES ('NazarAbadxxxx');

INSERT INTO city (city, country_id)
VALUES ('HasirAbad', LAST_INSERT_ID() )
```

### Creating a copy of the table
```
CREATE TABLE country_archive AS
SELECT * FROM country
```

### SubQueries with insert
```
INSERT INTO country_archive
SELECT * FROM country WHERE country_id > 10
```

### Remove All Data with Truncate
```
TRUNCATE country_archive;
```

### Update
```
UPDATE country_archive 
SET 
	last_update = DEFAULT,
    country = NULL
WHERE country_id > 20
```

### Delete
```
DELETE FROM country
where id > 120
```

### Aggregate Functions
```
MAX(), MIN(), AVG(), SUM(), COUNT()

SELECT 
    COUNT(DISTINCT customer_id)
FROM `payment`;


```